{% extends 'base.html' %}
{% block title %}Authentication{% endblock %}
{% load i18n %}
{% load account %}
{% load allauth %}

{% block content %}
<section class="section_padding footer-fixed">
    <div class="container">
        <div class="section_heading text-center">
            <strong>Email Confirmation</strong>
            <h2>Email Confirmation</h2>
            <p>An email has been sent to your address for confirmation.</p>
            <p>Please follow the link in the email to confirm your account.</p>
            <div class="sm_border"></div>
        </div>

        {% if confirmation %}
            <div class="text-center">
                {% user_display confirmation.email_address.user as user_display %}
                {% if can_confirm %}
                    <p>Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is the email address of user {{ user_display }}.</p>
                    {% url 'account_confirm_email' confirmation.key as action_url %}
                    <form method="post" action="{{ action_url }}">
                        {% csrf_token %}
                        {{ redirect_field }}
                        <button type="submit" class="btn btn-lg main_btn btn_shadow">Confirm</button>
                    </form>
                {% else %}
                    <p>Unable to confirm {{ email }}, as this address has already been confirmed by another account.</p>
                {% endif %}
            </div>
        {% else %}
            <div class="text-center">
                {% url 'account_email' as email_url %}
                <p>The email confirmation link has expired or is invalid. Please <a href="{{ email_url }}">request a new confirmation</a>.</p>
            </div>
        {% endif %}
    </div>
</section>
{% endblock content %}
