{% extends 'base.html' %}
{% load static %}

{% block title %}Аутентификация{% endblock %}

{% block content %}
{% load i18n %}
{% load socialaccount %}

<style>
    .alert.alert-danger {
        border-radius: 0;
    }

    .login-img-g {
    width: 25px;
    height: 25px;

    .login-img-y {
    width: 23px;
    height: 23px;
}
</style>

<section class="section_padding">
    <div class="container">
        <div class="section_heading text-center">
            <strong>аутентификация</strong>
            <h2>Вход</h2>
            <p>Войдите в свою учетную запись, чтобы получить доступ к персонализированным настройкам и сохранять свои
                предпочтения. Если у вас еще нет учетной записи, зарегистрируйтесь прямо сейчас, чтобы воспользоваться
                всеми преимуществами нашего сервиса.</p>
            <div class="sm_border"></div>
        </div>
        <form id="contact-form" method="post" action="{% url 'account_login' %}">
            {% csrf_token %}
            <div class="row">
                <div class="input_padding text-center">
                    <div class="form-group col-sm-12">
                        {% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                            {% for field in form %}
                            {% for error in field.errors %}
                            <p>{{ error }}</p>
                            {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <input type="text" name="login" class="form-control" id="login"
                               placeholder="{% trans 'Email или Имя пользователя' %} *"
                               required="required">
                    </div>
                    <div class="form-group col-sm-12">
                        <input type="password" name="password" class="form-control" id="password"
                               placeholder="{% trans 'Пароль' %} *"
                               required="required">
                    </div>
                    <div class="form-group mb0 col-sm-12">
                        <div class="actions">
                            <button type="submit" value="Войти" name="submit"
                                    class="btn btn-lg main_btn btn_shadow" title="Войти">{% trans 'Войти' %}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="text-center">
            <a href="{% url 'account_signup' %}">{% trans 'Регистрация' %}</a> |
            <a href="{% url 'account_reset_password' %}">{% trans 'Забыли пароль?' %}</a>
        </div>
        <div class=" text-center social-accounts mt-3">
            <hr>
            <p>или</p>
            <div class="d-flex justify-content-around align-items-center mb-3">
                <button onclick="window.location.href='{% provider_login_url 'google' %}'"
                        class="btn btn-lg main_btn btn_shadow">
                    <img src="{% static 'images/Google.png' %}" alt="Google" style="width: 20px; height: 20px;">
                </button>
                <button onclick="window.location.href='{% provider_login_url 'yandex' %}'"
                        class="btn btn-lg main_btn btn_shadow">
                    <img src="{% static 'images/Yandex.png' %}" alt="Yandex" style="width: 20px; height: 20px;">
                </button>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
