{% extends 'base.html' %}
{% block title %}Authentication{% endblock %}

{% block content %}
{% load i18n %}

<section class="section_padding footer-fixed">
    <div class="container">
        <div class="section_heading text-center">
            <strong>Logout</strong>
            <h2>Log Out</h2>
            <p>Are you sure you want to log out of your account? Click the button below to end your session.</p>
            <div class="sm_border"></div>
        </div>
        <form id="contact-form" method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            <div class="row">
                <div class="input_padding text-center">
                    <div class="form-group mb0 col-sm-12">
                        <div class="actions">
                            <button type="submit" value="Logout" name="submit"
                                    class="btn btn-lg main_btn btn_shadow" title="Log Out">{% trans 'Log Out' %}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

{% endblock content %}
