{% extends 'base.html' %}
{% block title %}Аутентификация{% endblock %}

{% block content %}
{% load i18n %}

<section class="section_padding">
    <div class="container">
        <div class="section_heading text-center">
            <strong>выход</strong>
            <h2>Выйти</h2>
            <p>Вы уверены, что хотите выйти из своей учетной записи? Нажмите кнопку ниже, чтобы завершить сеанс.</p>
            <div class="sm_border"></div>
        </div>
        <form id="contact-form" method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            <div class="row">
                <div class="input_padding text-center">
                    <div class="form-group mb0 col-sm-12">
                        <div class="actions">
                            <button type="submit" value="Logout" name="submit"
                                    class="btn btn-lg main_btn btn_shadow" title="Выйти">{% trans 'Выйти' %}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

{% endblock content %}