{% extends 'base.html' %}
{% block title %}Аутентификация{% endblock %}

{% block content %}

<section class="section_padding footer-fixed">
    <div class="container">
        <div class="section_heading text-center">
            <strong>Сброс пароля</strong>
            <h2>Введите ваш email</h2>
            <p>Мы отправим вам инструкцию по сбросу пароля на указанный email.</p>
            <div class="sm_border"></div>
        </div>
    <form id="contact-form" method="post" action="{% url 'account_reset_password' %}">
    {% csrf_token %}
    <div class="row">
        <div class="input_padding text-center">
            <div class="form-group col-sm-12">
                {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    {% for field in form %}
                    {% for error in field.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
                <input type="email" name="email" class="form-control" id="email"
                       placeholder="Email *" required="required">
            </div>
            <div class="form-group mb0 col-sm-12">
                <div class="actions">
                    <button type="submit" value="Сбросить пароль" name="submit"
                            class="btn btn-lg main_btn btn_shadow" title="Сбросить пароль">Сбросить пароль
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
    </div>
</section>



{% endblock content %}