{% extends 'base.html' %}
{% block title %}Аутентификация{% endblock %}

{% block content %}
<section class="section_padding">
    <div class="container">
        <div class="section_heading text-center">
            <strong>Сброс пароля</strong>
            <h2>Проверьте ваш email</h2>
            <p>Инструкция по сбросу пароля была отправлена на ваш email.Если вы не видите письмо, проверьте папку Спам.</p>
            <div class="sm_border"></div>
        </div>
    </div>
</section>

{% endblock content %}