{% extends "base.html" %}
{% block title %}Authentication{% endblock %}

{% block content %}
<section class="section_padding footer-fixed">
    <div class="container">
        <div class="section_heading text-center">
            <strong>Password Change</strong>
            {% if token_fail %}
                <h2>Invalid Token</h2>
            {% else %}
                <h2>Please enter a new password</h2>
                <p>Your new password should be long and complex.</p>
            {% endif %}
            <div class="sm_border"></div>
        </div>
        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <div class="text-center">
                <p>The password reset link is invalid and may have already been used. Please request a <a href="{{ passwd_reset_url }}">new password reset link</a>.</p>
            </div>
        {% else %}
            <form id="contact-form" method="post" action="{{ action_url }}">
                {% csrf_token %}
                {{ redirect_field }}
                <div class="row">
                    <div class="input_padding text-center">
                        <div class="form-group col-sm-12">
                            {% if form.errors %}
                            <div class="alert alert-danger" role="alert">
                                {% for field in form %}
                                {% for error in field.errors %}
                                <p>{{ error }}</p>
                                {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                            {% endif %}
                            <input type="password" name="password1" class="form-control" id="password1"
                                   placeholder="New Password *" required="required">
                        </div>
                        <div class="form-group col-sm-12">
                            <input type="password" name="password2" class="form-control" id="password2"
                                   placeholder="Confirm New Password *" required="required">
                        </div>
                        <div class="form-group mb0 col-sm-12">
                            <div class="actions">
                                <button type="submit" value="Save New Password" name="submit"
                                        class="btn btn-lg main_btn btn_shadow" title="Save New Password">Save New Password
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        {% endif %}
    </div>
</section>
{% endblock content %}
