{% extends 'base.html' %}
{% load static %}
{% block title %}Authentication{% endblock %}

{% block content %}

{% load i18n %}
{% load socialaccount %}

<style>
    .alert.alert-danger {
        border-radius: 0;
    }
    .icon svg {
        width: 100px;
        height: 100px;
    }
</style>

<section class="section_padding">
    <div class="container">
        <div class="section_heading text-center">
            <strong>Authentication</strong>
            <h2>Registration</h2>
            <p>Create a new account to access exclusive features and benefits. Just fill out the form below and follow the instructions.</p>
            <div class="sm_border"></div>
        </div>
        <form id="contact-form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            <div class="row">
                <div class="input_padding text-center">
                    {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for field in form %}
                        {% for error in field.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}

                    <div class="form-group col-sm-12">
                        <input type="text" name="username" class="form-control" id="username"
                               placeholder="{% trans 'Username' %} *"
                               required="required">
                    </div>
                    <div class="form-group col-sm-12">
                        <input type="email" name="email" class="form-control" id="email"
                               placeholder="{% trans 'Email' %} *"
                               required="required">
                    </div>
                    <div class="form-group col-sm-12">
                        <input type="password" name="password1" class="form-control" id="password1"
                               placeholder="{% trans 'Password' %} *"
                               required="required">
                    </div>
                    <div class="form-group col-sm-12">
                        <input type="password" name="password2" class="form-control" id="password2"
                               placeholder="{% trans 'Confirm Password' %} *"
                               required="required">
                    </div>
                    <div class="form-group mb0 col-sm-12">
                        <div class="actions">
                            <button type="submit" value="Signup" name="submit"
                                    class="btn btn-lg main_btn btn_shadow" title="Registration">{% trans 'Register' %}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="text-center">
            <p>If you already have an account: <a href="{% url 'account_login' %}">Log in</a></p>
        </div>
        <div class="text-center social-accounts mt-3">
            <hr>
            <p>or</p>
            <div class="d-flex justify-content-around align-items-center mb-3">
                <button onclick="window.location.href='{% provider_login_url 'google' %}'"
                        class="btn btn-lg main_btn btn_shadow">
                    <img src="{% static 'images/Google.png' %}" alt="Google" style="width: 20px; height: 20px;">
                </button>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
