{% extends 'base.html' %}
{% block title %}Authentication{% endblock %}

{% block content %}

<section class="section_padding footer-fixed">
    <div class="container">
        <div class="section_heading text-center">
            <strong>Email Confirmation</strong>
            <h2>Confirmation</h2>
            <p>An email has been sent to your address for confirmation.</p>
            <p>Please follow the link in the email to confirm your account.</p>
            <div class="sm_border"></div>
        </div>
    </div>
</section>

{% endblock content %}
