{% extends 'base.html' %}
{% block title %}Аутентификация{% endblock %}

{% block content %}

<section class="section_padding footer-fixed">
    <div class="container">
        <div class="section_heading text-center">
            <strong>Подтверждение Email</strong>
            <h2>Подтвердждиние</h2>
            <p>На ваш электронный адрес было отправлено письмо с подтверждением.</p>
            <p>Пожалуйста, перейдите по ссылке в письме, чтобы подтвердить свой аккаунт.</p>
            <div class="sm_border"></div>
        </div>
    </div>
</section>

{% endblock content %}