<style>
.single-service:hover h4 {
    color: #1461ff;
}
.single-service p {
    margin-top: 15px;
}
</style>

<section id="service" class="gray_bg section_padding pb_70">
    <div class="container">
        <div class="col-md-12 col-sm-12-col-xs-12">
            <div class="section_heading text-center">
                <strong>Information</strong>

                <h2>Description</h2>
                <p>Our Telegram bot provides
                    tools for creating images, music, and videos, as well as
                    editing images and creating animations. You can customize graphics, apply effects, and
                    easily integrate the results into your projects.
                    If you want to join in improving our product, you can invest in it through your
                    <a href="{% url 'profile' %}">personal account</a>, and also order various neural network
                    technologies for yourself!</p>
                <div class="sm_border"></div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="single-service res-1">
                        <div class="text-center">
                            <h4>Bot: Neural Network for Creative Tasks</h4>
                        </div>
                        <p><strong>Bot</strong> is a powerful specialized neural network designed for working
                            with visual and
                            audio
                            content. By combining advanced artificial intelligence algorithms, Bot offers
                            users unique opportunities for creating, processing, and enhancing images and
                            music tracks. This versatile platform is perfect for both professionals in
                            graphics and music, as well as for amateurs looking to expand their creative
                            horizons.</p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="single-service res-1">
                        <div class="text-center">
                            <h4>Implementation Opportunities</h4>
                        </div>
                        <p>
                            <strong>Creative Projects:</strong>
                            Artists and designers can use Bot to create visual content by stylizing
                            and animating images, as well as for creating music for their projects.
                            <br><strong>Social Media:</strong>
                            Users can generate unique images and animations for posts, attracting
                            attention to their content and increasing engagement.
                            <br><strong>Education:</strong>
                            Educational materials can be enriched with animations and musical accompaniment, enhancing
                            student interest and improving information retention.
                            <br><strong>Marketing and Advertising:</strong>
                            Creating quality visual and audio content for advertising campaigns, allowing
                            companies to stand out from competitors and capture their audience's attention.
                        </p>
                    </div>
                </div>
                {% if page_type == 'general_info' %}
                <div class="col-md-6">
                    <div class="single-service res-1">
                        <div class="text-center">
                            <h4>We Offer You</h4>
                        </div>
                        <p><strong>• Invest in a company with huge growth potential:</strong> the market for neural network technologies
                            is actively developing, and we are at the very center of it.<br>
                            <strong>• Become part of a team of experts:</strong> we have a large number of specialists with extensive
                            experience in software development and neural networks.<br>
                            <strong>• Achieve high returns:</strong> we look confidently into the future and plan to increase revenue by 5
                            times over the next 3 years.</p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="single-service res-1">
                        <div class="text-center">
                            <h4>By Investing in Us, You:</h4>
                        </div>
                        <p>
                            • <strong>Invest in the future</strong>: join the technological progress that
                            redefines the field of neural networks and creates new opportunities.<br>
                            • <strong>Gain the opportunity to be part of a successful project</strong>: we have already created a large number
                            of successful solutions.<br>
                            We believe in the potential of our project and invite you to invest in our product.
                        </p>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
