
<style>
.single-service:hover h4{
    color: #1461ff;
}
.single-service p{
	margin-top: 15px;
}
</style>

<section id="service" class="gray_bg section_padding pb_70">
    <div class="container">
        <div class="col-md-12 col-sm-12-col-xs-12">
            <div class="section_heading text-center">
                <strong>Информация</strong>

                <h2>Описание</h2>
                <p>Наш <a target='_blank' href="https://t.me/generate_images_bot">Telegram-бот</a> предоставляет
                    инструменты для создания изображений, музыки, видео, а также
                    редактирования изображений, создания анимаций. Вы можете настраивать графику, применять эффекты и
                    легко интегрировать результаты в ваши проекты.
                    Если вы хотите присоединиться к усовершенствованию нашего продукта, вы можете проинвестировать его в
                    <a href="{% url 'profile' %}">личном кабинете</a>, а также заказать для себя различные нейросетевые
                    технологии!</p>
                <div class="sm_border"></div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="single-service res-1">
                        <div class="text-center">
                            <h4>Аврора: Нейросеть для креативных задач</h4>
                        </div>
                        <p><strong>Аврора</strong> — это мощная специализированная нейросеть, предназначенная для работы
                            с визуальным и
                            аудио
                            контентом. Объединяя передовые алгоритмы искусственного интеллекта, Аврора предлагает
                            пользователям уникальные возможности для создания, обработки и улучшения изображений и
                            музыкальных треков. Эта универсальная платформа идеально подходит как для профессионалов в
                            области графики и музыки, так и для любителей, желающих расширить свои творческие
                            горизонты.</p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="single-service res-1">
                        <div class="text-center">
                            <h4>Возможности реализации</h4>
                        </div>
                        <p>
                            <strong>Креативные проекты:</strong>
                            Художники и дизайнеры могут использовать Аврору для создания визуального контента, стилизуя
                            и анимируя изображения, а также для создания музыки для своих проектов.
                            <br><strong>Социальные медиа:</strong>
                            Пользователи могут генерировать уникальные изображения и анимации для публикаций, привлекая
                            внимание к своему контенту и увеличивая вовлеченность.
                            <br><strong>Образование:</strong>
                            Учебные материалы могут быть насыщены анимацией и музыкальным сопровождением, что повысит
                            интерес учащихся и улучшит усвоение информации.
                            <br><strong>Маркетинг и реклама:</strong>
                            Создание качественного визуального и аудиоконтента для рекламных кампаний, позволяя
                            компаниям выделиться на фоне конкурентов и захватить внимание своей аудитории.
                        </p>
                    </div>
                </div>
                {% if page_type == 'general_info' %}
                <div class="col-md-6">
                    <div class="single-service res-1">
                        <div class="text-center">
                            <h4>Мы предлагаем вам</h4>
                        </div>
                        <p><strong>• Инвестировать в компанию с огромным потенциалом роста:</strong> рынок нейросетевых технологий
                            активно развивается, и мы находимся в самом его центре.<br>
                            <strong>• Стать частью команды экспертов:</strong> у нас работает большое количество специалистов с богатым
                            опытом в области разработки ПО и нейросетей.<br>
                            <strong>• Получить высокую прибыль:</strong> мы уверенно смотрим в будущее и планируем увеличить выручку в 5
                            раз за следующие 3 года. </p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="single-service res-1">
                        <div class="text-center">
                            <h4>Инвестируя в нас, вы:</h4>
                        </div>
                        <p>
                            • <strong>Вкладываете в будущее</strong>: присоединяетесь к технологическому прогрессу, который
                            переосмысливает сферу нейросетей и создает новые возможности.<br>
                            • <strong>Получаете возможность стать частью успешного проекта</strong>: мы уже создали большое количество
                            успешных решений.<br>
                            Мы уверены в потенциале нашего проекта и предлагаем инвестировать в наш продукт.
                        </p>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
