<section id="contact" class="section_padding">
    <div class="container">
        <div class="col-md-12 col-sm-12-col-xs-12">
            <div class="section_heading text-center">
                <strong>информация</strong>
                <h2>Контактная информация</h2>
                <p>Если у вас есть вопросы или предложения, вы можете связаться с нами в любое время. Мы готовы
                    помочь
                    вам и обсудить возможности использования нашего бота для создания уникальных изображений и
                    анимаций.</p>
                <div class="sm_border"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7 col-sm-12">

                <form id="contact-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="input_padding text-center">
                            <div class="form-group col-sm-12">
                                <input type="text" name="name" class="form-control" id="first-name" placeholder="Имя *"
                                       required="required">
                            </div>
                            <div class="form-group col-sm-6">
                                <input type="email" name="email" class="form-control" id="email"
                                       placeholder="Электронная почта *" required="required">
                            </div>
                            <div class="form-group col-sm-6">
                                <input type="text" name="subject" class="form-control" id="subject" placeholder="Тема *"
                                       required="required">
                            </div>
                            <div class="form-group col-sm-12 mab-none">
                                <textarea rows="8" name="message" class="form-control" id="description"
                                          placeholder="Ваше сообщение здесь ..." required="required"></textarea>
                            </div>
                            <div class="form-group mb0 col-sm-12">
                                <div class="actions">
                                    <button type="submit" value="Отправить сообщение" name="submit"
                                            class="btn btn-lg main_btn btn_shadow" title="Отправить ваше сообщение!">
                                        Отправить
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div id="success-message" style="display: none; color: green; text-align: center; margin-top: 20px;">
                    Ваше сообщение успешно отправлено!
                </div>
            </div>
            <div class="col-md-5 col-sm-12">
                <div class="contact_widget_area">
                    <div class="contact_info">
                        <i class="fa fa-whatsapp"></i>
                        <div class="contact_info_text">
                            <h5>What'sUp</h5>
                            <a target='_blank' href="https://wa.me/37259208680">
                                <p>+37259208680</p>
                            </a>
                        </div>
                    </div>

                    <div class="contact_info">
                        <i class="fa fa-envelope"></i>
                        <div class="contact_info_text">
                            <h5>Email</h5>
                            <a target='_blank'
                               href="https://mail.google.com/mail/u/0/?fs=1&to=avroraai.bot@gmail.com&su=&body=&tf=cm">
                                <p>avroraai.bot@gmail.com</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $('#contact-form').on('submit', function (e) {
            e.preventDefault();

            var formData = new FormData(this);

            $.ajax({
                type: 'POST',
                url: "{% url 'base' %}",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {

                    $('#contact-form')[0].reset();
                    $('#success-message').fadeIn();
                    setTimeout(function () {
                        $('#success-message').fadeOut();
                    }, 5000);
                },
                error: function (xhr, status, error) {
                    alert("Произошла ошибка. Попытайтесь еще раз.");
                }
            });
        });
    });
</script>