<section id="counter_area" class="section_padding rs_pb_70">
    <div class="container">
        <div class="col-md-12 col-sm-12-col-xs-12">
            <div class="section_heading text-center">
                <strong>Information</strong>
                <h2 style="color: white;">Information for Investors</h2>
                <p style="color: white;">We invite you to participate in the improvement of our product, specifically to become an investor and contribute to the development of our own ChatGPT!

                    These investments have been used for:

                    • Development and enhancement of our product
                    • Expanding the team
                    • Marketing and sales
                    • Research and development

                    We are grateful to our investors for their support and faith in our project. Their investments have allowed us to build a strong foundation for further growth and success.

                    Join us and become a part of this revolutionary company!</p>
                <div class="sm_border"></div>
            </div>
        </div>

        <div class="row justify-content-center text-center">
            <div class="col-md-4 col-sm-6">
                <div class="single_counter">
                    <div class="icon">
                        <i class="icon-happy"></i>
                    </div>
                    <span class="counter">{{ transaction_count }}</span>
                    <h5>Transactions Completed</h5>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="single_counter border_left">
                    <div class="icon">
                        <i class="icon-briefcase"></i>
                    </div>
                    <span class="counter">{{ invested }}</span>
                    <h5>Total Investment Amount</h5>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="single_counter border_left">
                    <div class="icon">
                        <i class="icon-profile-male"></i>
                    </div>
                    <span class="counter">{{ user_count }}</span>
                    <h5>Clients</h5>
                </div>
            </div>
        </div>
    </div>
</section>
