<!-- START FOOTER -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="copy-text">
                    <p>© 2024 AVRORAAI | Все права защищены</p>
                </div>
            </div> <!-- End Col -->
            <div class="col-sm-6">
                <ul class="social-link pull-right">
                    <li><a target='_blank' href="https://t.me/generate_images_bot"><i class="fa fa-telegram"></i></a></li>
                    <li><a target='_blank' href="https://wa.me/37259208680"><i class="fa fa-whatsapp"></i></a></li>
                    <li><a target='_blank' href="https://mail.google.com/mail/u/0/?fs=1&to=avroraai.bot@gmail.com&su=&body=&tf=cm"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div> <!-- End Col -->
        </div>
    </div>
</div>
<!-- END FOOTER -->


