<!-- START FOOTER -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="copy-text">
                   <p>© 2024 AI-BOT | All rights reserved</p>
                </div>
            </div> <!-- End Col -->
            <div class="col-sm-6">
                <ul class="social-link pull-right">
                    <li><a target='_blank' href="#"><i class="fa fa-telegram"></i></a></li>
                    <li><a target='_blank' href="#"><i class="fa fa-whatsapp"></i></a></li>
                    <li><a target='_blank' href="#"><i class="fa fa-envelope"></i></a target='_blank'></li>
                </ul>
            </div> <!-- End Col -->
        </div>
    </div>
</div>
<!-- END FOOTER -->


