<style>

    .icon svg {
        width: 80px;
        height: 80px;
    }

    /* Сховати опис і кнопку спочатку */
    .card-description, .card-button {
        display: none;
    }

    /* Показати опис і кнопку при наведенні */
    .card:hover .card-description, .card:hover .card-button {
        display: block;
    }

    /* Сховати іконку та назву при наведенні */
    .card:hover .icon, .card:hover .card-title {
        display: none;
    }

    .card-description {
        margin-top: 10px;
    }

    /* Кнопка внизу та справа картки */
    .card {
        position: relative;
    }

    .card-button {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }

    .custom-margin {
        margin-top: 90px; /* або інше значення */
    }
</style>


<!-- Логіка для відображення опису при наведенні -->


<section id="service" class="section_padding pb_70">
    <div class="container">
        <div class="col-md-12 col-sm-12-col-xs-12">
            <div class="section_heading text-center">
                <strong>Information</strong>
                <h2>Our Capabilities</h2>
                <p>Our Telegram bot offers a wide range of features for creating musical compositions, videos, and
                    working with images (creating, animating, modifying, and more). Our functions include customizing
                    graphic elements, applying effects and animations, as well as integrating with your projects to
                    enhance their visual appeal.</p>
                <div class="sm_border"></div>
            </div>
        </div>
        <div class="row">
            {% for service in services %}
            <div class="col-md-4">
                <div class="single-service card res">
                    <div class="card-body d-flex align-items-center">
                        <div class="text-center">
                            <i>
                                <div class="icon custom-margin">
                                    {{ service.svg_icon|safe }}
                                </div>
                            </i>
                            <h4 class="card-title custom-margin">{{ service.title }}</h4>
                        </div>
                        <p class="card-description">{{ service.description|truncatechars:450 }}</p>

                        {% if service.url %}
                        <a href="{{ service.url }}" class="btn btn-default blog_btn main_btn card-button"
                           target="_blank">Go to</a>
                        {% endif %}
                    </div>
                </div>
            </div> <!-- End Col -->
            {% endfor %}
        </div>
    </div>
</section>


