{% extends "index.html" %}
{% block title %}Authentication{% endblock %}

{% load i18n %}
{% block content %}

<section class="section_padding footer-fixed">
    <div class="container">
        <div class="section_heading text-center">
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-lg main_btn btn_shadow">
                Next
            </button>
        </form>
        </div>
    </div>
</section>

{% endblock %}
