{% extends 'base.html' %}
{% load cache %}

{% block title %}О нас{% endblock %}


{% block content %}
{# cache 900 "about_page_content" #}


<div style="margin-top: 70px;">
    {% include 'includes/counter.html' %}
</div>
{% include 'includes/overview.html' %}


{% if reviews %}
<section id="testimonial_area" class="section_padding pb_70">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="testmonial_slider_area text-center owl-carousel">
                    {% for review in reviews %}
                    <div class="single_testimonial">
                        <div class="pic">
                            <img src="{{ review.user.profile.get_logo }}"  alt="Default Image">
                        </div>
                        <h5 class="testimonial-title">{{ review.name }}</h5>
                        <span class="test_designation">{{ review.subject }}</span>
                        <p class="description">
                            {{ review.message }}
                        </p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

<section class="section_padding">
    <div class="container">
        <div class="section_heading text-center">
            <strong>навигация</strong>
            <h2>КАРТА</h2>
            <p>Здесь вы можете увидеть наше местоположение и получить информацию о том, как нас найти. Мы находимся в
                удобном месте, и вы легко сможете нас найти с помощью карты ниже.</p>
            <div class="sm_border"></div>
        </div>
        <div id="map-container">
            <div id="map"></div>
        </div>
    </div>
</section>


{# endcache #}
{% endblock content %}