{% extends 'base.html' %}
{% load cache %}
{% load static %}
{% block title %}Главная{% endblock %}

{% block content %}
{# cache 900 "index_page_content" #}


<section id="home" class="main_banner banner_bg ripple-effect jquery-ripples">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12 col-xs-12">
                <div class="banner_content">
                    <strong>🤖 Привет !</strong>
                    <h1 style='font-size: 40px;' class="cd-headline clip">
                        <span class="fw_600">Я твой умный помощник для</span><br>
                        <span class="cd-words-wrapper">
                            <b class="is-visible fw_300">создания <br class="mobile-break-m"> изображений </b>
                            <b class="fw_300">изменения <br class="mobile-break-m"> изображений </b>
                            <b class="fw_300">анимирования <br class="mobile-break-m"> изображений</b>
                        </span>
                        <!--                        <span class="fw_600"></span>-->
                    </h1>
                    <p>Если вы хотите поддержать проект, вы можете стать инвестором. Вся информация находится в личном
                        профиле.</p>
                    <ul class="banner_social_link">
                        <li><a target='_blank' href="https://t.me/generate_images_bot"><i
                                class="fa fa-telegram"></i></a></li>
                        <li><a target='_blank' href="https://wa.me/37259208680"><i class="fa fa-whatsapp"></i></a></li>
                        <li><a target='_blank'
                               href="https://mail.google.com/mail/u/0/?fs=1&to=avroraai.bot@gmail.com&su=&body=&tf=cm"><i
                                class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- START ABOUT -->
<section class="section_padding_desc">
    <div class="container">
        <div class="single_about">
            <div class="about_content_area">
                <h4>Описание</h4>
                <h3>Вот что я умею:</h3>
                <p>
                    - Создавать картинки по вашему запросу 🩵<br>
                    - Изменять ваши фото и картинки 💚<br>
                    - Создавать музыкальные произведения 🎧<br>
                    - Анимировать любые изображения 🤯<br>
                    - Улучшать качество изображений 🔮<br>
                </p>
                <!--                <div class="about_details">-->
                <!--                    <div class="і">-->
                <!--                        <span><i class="fa fa-whatsapp"></i> What'sUp </span>-->
                <!--                        <a target='_blank' href="https://wa.me/37259208680">-->
                <!--                            +37259208680-->
                <!--                        </a>-->
                <!--                    </div>-->
                <!--                    <div class="ct_about">-->
                <!--                        <span><i class="fa fa-envelope"></i> Email </span>-->
                <!--                        <a target='_blank'-->
                <!--                           href="https://mail.google.com/mail/u/0/?fs=1&to=avroraai.bot@gmail.com&su=&body=&tf=cm">-->
                <!--                            avroraai.bot@gmail.com-->
                <!--                        </a>-->
                <!--                    </div>-->
                <!--                </div>-->
            </div>
        </div>
    </div>
    </div>
</section>

<!-- END ABOUT -->


{% include 'includes/overview.html' %}


{% include 'includes/counter.html' %}


<section id="blog" class="section_padding pb_70">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12-col-xs-12">
                <div class="section_heading text-center">
                    <strong>информация</strong>
                    <h2>Новости</h2>
                    <p>Будьте в курсе последних обновлений и новостей о нашем Telegram боте. Мы постоянно добавляем
                        новые функции и возможности, чтобы улучшить ваш опыт работы с изображениями и анимацией.</p>
                    <div class="sm_border"></div>
                </div>
            </div>

            <div class="blog_slide_area">
                {% for event in events %}
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single_blog">
                        <div class="blog-thumb">
                            <div class="blog-image">
                                <img src="{{ event.img.url }}" class="img-responsive" alt="новости">
                            </div>
                            <div class="blog-info">
                                <small><i class="fa fa-clock-o"></i>{{ event.date|date:"F d, Y" }}</small>
                                <span>| {{ event.tag }}</span>
                                <h4>{{ event.name }}</h4>
                                <p>{{ event.description|truncatewords:20 }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<!-- END BLOG -->

<!-- START CONTACT -->
<section id="contact" class="section_padding">
    <div class="container">
        <div class="col-md-12 col-sm-12-col-xs-12">
            <div class="section_heading text-center">
                <strong>информация</strong>
                <h2>Контактная информация</h2>
                <p>Если у вас есть вопросы или предложения, вы можете связаться с нами в любое время. Мы готовы
                    помочь
                    вам и обсудить возможности использования нашего бота для создания уникальных изображений и
                    анимаций.</p>
                <div class="sm_border"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7 col-sm-12">
                <form id="contact-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="input_padding text-center">
                            <div class="form-group col-sm-12">
                                <input type="text" name="name" class="form-control" id="first-name"
                                       placeholder="Имя *"
                                       required="required">
                            </div>
                            <div class="form-group col-sm-6">
                                <input type="email" name="email" class="form-control" id="email"
                                       placeholder="Электронная почта *"
                                       required="required">
                            </div>
                            <div class="form-group col-sm-6">
                                <input type="text" name="subject" class="form-control" id="subject"
                                       placeholder="Тема *"
                                       required="required">
                            </div>
                            <div class="form-group col-sm-12 mab-none">
                <textarea rows="8" name="message" class="form-control" id="description"
                          placeholder="Ваше сообщение здесь ..."
                          required="required"></textarea>
                            </div>
                            <div class="form-group mb0 col-sm-12">
                                <div class="actions">
                                    <button type="submit" value="Отправить сообщение" name="submit"
                                            class="btn btn-lg main_btn btn_shadow"
                                            title="Отправить ваше сообщение!">
                                        Оставить отзыв
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>

            <div class="col-md-5 col-sm-12">
                <div class="contact_widget_area">
                    <div class="contact_info">
                        <i class="fa fa-whatsapp"></i>
                        <div class="contact_info_text">
                            <h5>What'sUp</h5>
                            <a target='_blank' href="https://wa.me/37259208680">
                                <p>+37259208680</p>
                            </a>
                        </div>
                    </div>

                    <div class="contact_info">
                        <i class="fa fa-envelope"></i>
                        <div class="contact_info_text">
                            <h5>Email</h5>
                            <a target='_blank'
                               href="https://mail.google.com/mail/u/0/?fs=1&to=avroraai.bot@gmail.com&su=&body=&tf=cm">
                                <p>avroraai.bot@gmail.com</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END CONTACT -->
{# endcache #}
{% endblock content %}
