{% extends 'base.html' %}
{% load cache %}
{% load static %}

{% block content %}
{% cache 900 "index_page_content" %}


<section id="home" class="main_banner banner_bg ripple-effect jquery-ripples">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12 col-xs-12">
                <div class="banner_content" style="margin-top: 150px;">
                    <strong>Hello!</strong>
                    <h1 class="cd-headline clip">
                        <span class="fw_600">I am your assistant for</span><br>
                        <span class="cd-words-wrapper">
                            <b class="is-visible fw_300">creating <br class="mobile-break-m"> images</b>
                            <b class="fw_300">editing <br class="mobile-break-m"> images</b>
                            <b class="fw_300">animating <br class="mobile-break-m"> images</b>
                            <b class="fw_300">creativity</b>
                            <b class="fw_300">creating <br class="mobile-break-m"> musical <br class="mobile-break-m"> works</b>
                        </span>
                    </h1>
                    <p>If you want to support the project, you can become an investor. All information can be found in
                        <a href="{% url 'profile' %}" style="color: black;">your personal profile</a>.</p>
                    <br>
                    <a target='_blank' href="#"><strong>Go to the neural network</strong></a>
                    <ul class="banner_social_link">
                        <li><a target='_blank' href="#"><i
                                class="fa fa-telegram"></i></a></li>
                        <li><a target='_blank' href="#"><i class="fa fa-whatsapp"></i></a></li>
                        <li><a target='_blank'
                               href="#"><i
                                class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'includes/about.html' %}

{% include 'includes/overview.html' %}

{% include 'includes/counter.html' %}

<section id="blog" class="section_padding pb_70">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12-col-xs-12">
                <div class="section_heading text-center">
                    <strong>Information</strong>
                    <h2>News</h2>
                    <p>Stay updated with the latest updates and news about our
                        Telegram bot. We are constantly adding new features and
                        capabilities to improve your experience with neural networks. You will be able to see the
                        process of the neural network's improvement and join the development. You can do this in your <a
                                href="{% url 'profile' %}">personal account</a>.</p>
                    <div class="sm_border"></div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="testmonial_slider_area text-center owl-carousel">
                    {% for event in events %}
                    <div class="single_blog">
                        <div class="blog-thumb">
                            <div class="blog-image">
                                <img src="{{ event.img.url }}" class="img-responsive" alt="news"
                                     style="width: 400px; height: 300px; object-fit: cover;">
                            </div>
                            <div class="blog-info">
                                <small><i class="fa fa-clock-o"></i>{{ event.date|date:"F d, Y" }}</small>
                                <span>| {{ event.tag }}</span>
                                <h4>{{ event.name }}</h4>
                                <p>{{ event.description }}</p>
                                {% if event.url %}
                                <a href="{{ event.url }}" class="btn btn-default blog_btn main_btn"
                                   target="_blank">Go</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'includes/contact.html' %}


<!-- END CONTACT -->
{% endcache %}
{% endblock content %}
