{% extends 'base.html' %}
{% load cache %}

{% block title %}Information for Investors{% endblock %}

{% block content %}
{% cache 900 "about_page_content" %}


<section id="home" class="main_banner banner_bg ripple-effect jquery-ripples">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12 col-xs-12">
                <div class="banner_content" style="margin-top: 150px;">
                    <strong>Invest in our product!</strong>
                    <h1 class="cd-headline clip">
                        <span class="fw_600">Join our team for</span><br>
                        <span class="cd-words-wrapper">
                            <b class="is-visible fw_300">improving <br class="mobile-break-m">Bot</b>
                            <b class="fw_300">creating new <br class="mobile-break-m">projects</b>
                            <b class="fw_300">developing <br class="mobile-break-m">neural networks</b>
                        </span>
                    </h1>
                    <p>Neural network technologies are already changing the world, and we invite you to be a part of this future!</p>
                    <br>
                    <a target='_blank' href="#"><strong>Go to the neural network</strong></a>
                    <ul class="banner_social_link">
                        <li><a target='_blank' href="#"><i
                                class="fa fa-telegram"></i></a></li>
                        <li><a target='_blank' href="#"><i class="fa fa-whatsapp"></i></a></li>
                        <li><a target='_blank'
                               href="#"><i
                                class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'includes/about.html' %}

{% include 'includes/counter.html' %}

{% include 'includes/overview.html' %}

{% if reviews %}
<section id="testimonial_area" class="section_padding pb_70">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="testmonial_slider_area text-center owl-carousel">
                    {% for review in reviews %}
                    <div class="single_testimonial">
                        <div class="pic">
                            <img src="{{ review.user.profile.get_logo }}" alt="Default Image">
                        </div>
                        <h5 class="testimonial-title">{{ review.name }}</h5>
                        <span class="test_designation">{{ review.subject }}</span>
                        <p class="description">
                            {{ review.message }}
                        </p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}



{% include 'includes/contact.html' %}

{% endcache %}
{% endblock content %}
