<!-- START PRELOADER -->
<!--<div class="preloader">-->
<!--    <div class="spinner">-->
<!--        <div class="double-bounce1"></div>-->
<!--        <div class="double-bounce2"></div>-->
<!--    </div>-->
<!--</div>-->
<!-- END PRELOADER -->

<!-- START NAVBAR -->
<div class="navbar navbar-default navbar-fixed-top menu-top">
    <div class="container">
        <div class="logo">
            <a href="{% url 'base' %}" class="navbar-brand"><p style="color:black;">Dekha</p></a>
            <div class="mobile-nav"></div>
        </div>

        <div id="navbar" class="main_menu">

            <ul class="nav navbar-nav navbar-right">
                <li><a style="color:black;" href="{% url 'base' %}">Home</a></li>
                <li><a style="color:black;" href="{% url 'about' %}">About</a></li>
                {% if request.user.is_authenticated %}
                <li><a style="color:black;" href="{% url 'profile' %}">Profile</a></li>
                <li><a style="color:black;" href="{% url 'account_logout' %}">Log Out</a></li>
                {% else %}
                <li><a style="color:black;" href="{% url 'account_login' %}">Login</a></li>
                <li><a style="color:black;" href="{% url 'account_signup' %}">Signup</a></li>
                {% endif %}

            </ul>

        </div>

    </div><!--- END CONTAINER -->
</div>

<!-- END NAVBAR -->