{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}

<section class="section_padding footer-fixed">
    <div class="container">
        <div class="section_heading text-center">
            <strong>Payment</strong>
            <h2>Something went wrong!</h2>
            <p>Your payment has been canceled. If this is a mistake, please try again.</p>
            <p><a href="{% url 'base' %}">
                Return to home</a></p>
            <div class="sm_border"></div>
        </div>
    </div>
</section>

{% endblock %}
