{% extends 'base.html' %}

{% block content %}

<section class="section_padding">
    <div class="container">
        <div class="section_heading text-center">
            <strong>Оплата</strong>
            <h2>Спасибо за вашу покупку!</h2>
            <p>Ваш платеж был успешно обработан, и заказ подтвержден.</p>
            <p><a href="{% url 'base' %}">
                Вернуться на главную</a></p>
            <div class="sm_border"></div>
        </div>
    </div>
</section>



{% endblock %}