{% extends "base.html" %}
{% block content %}

<section class="section_padding pb_70">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12-col-xs-12">
                <div class="section_heading text-center">
                    <strong>Параметры</strong>
                    <h2>Рассылка</h2>
                    <div class="sm_border"></div>
                </div>
            </div>
            <form id="contact-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group col-sm-12">
                    <input type="title" name="title" class="form-control" id="title"
                           placeholder="Название"
                           required="required">
                </div>
                <div class="form-group col-sm-12 mab-none">
        <textarea rows="8" name="message" class="form-control" id="description"
                  placeholder="Ваше сообщение здесь ..."
                  required="required"></textarea>
                </div>

                <div class="text-center">
                    <button type="submit" value="Send message"
                            class="btn btn-lg main_btn btn_shadow">Отправить
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>


{% endblock %}